.container-fluid{
  display: grid;
  color: var(--text-color-enable-prime);
  /* grid-template-columns: 122px 15% auto 30% 168px;
  grid-template-rows: 72px auto 97px; */
  grid-template-columns: 122px 280px 3fr 2fr 168px;
  grid-template-rows: 72px auto 97px;
 height: 100vh;
  background-color: var(--background-color);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}


.menu{
  grid-column: 1;
  background-color: var(--sub-background-color);
  grid-row: 1/4;
  
}
.header{
  grid-column: 2/6;
  background-color: var(--sub-background-color);
  grid-row: 1;
}
.group-metre{
  grid-column: 2/3;
  background-color: var(--sub-background-color);
  grid-row: 2/3;
  border-radius: 6px;
}
.main-metre{
  grid-row: 2/3;
  background-color: var(--sub-background-color);
  grid-column: 3/4;
  border-radius: 6px;
}
.chat{
  grid-row: 2/3;
  background-color: var(--sub-background-color);
  grid-column: 4/5;
  border-radius: 6px;
}
.info-bar{
  grid-row: 2/4;
  background-color: var(--sub-background-color);
  grid-column: 5/6;
}
.buttom-bar{
  grid-row: 3/4;
  background-color: var(--sub-background-color);
  grid-column: 2/5
}